{% load static  %}


<!-- navbar  -->
<nav class="transparent z-depth-0">
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s12">
        <a href="{% url 'home'  %}" target="_blank" class="brand-logo">Ti<span class="hide-on-small-only">&nbsp;Tamba</span></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
          <li><a href="#" target="_blank">About us</a></li>
          <li><a href="#" target="_blank">Services</a></li>
          <li><a href="#" target="_blank">Contact us</a></li>
					<li><a href="{% url 'login'  %}" class="waves-effect waves-light btn btn-large light-green darken-2">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
	<li><a href="#" target="_blank">About us</a></li>
	<li><a href="#" target="_blank">Services</a></li>
	<li><a href="#" target="_blank">Contact us</a></li>
</ul>






<!-- <div class="navbar-fixed">
<nav>

     <div class="nav-wrapper">

      <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="{% url 'home'  %}">Photo Sharing</a></li>
      </ul>


  <ul class="right hide-on-med-and-down">
      <a class="brand-logo" href="{% url 'home' %}">Photo Sharing</a>
    <li><a href="#">Contribute</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Search</a></li>
      <li><a href="#">Upload</a></li>
    <li><a href="#">Contact us</a></li>
    <!-- Dropdown Trigger -->
    <!-- <li>
      <a  class="dropdown-trigger" href="#!" data-target="dropdown1">Accounts<i class="material-icons right">arrow_drop_down</i></a>
      <!-- Dropdown Structure -->
      <!-- <ul id="dropdown1" class="dropdown-content"> -->
        <!-- test -->

        <!-- {% if request.user.is_authenticated %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
            <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>

          {% endif %} -->

        <!-- end test  -->
      <!-- </ul>
    </li>
  </ul>
</div>

<!-- end of navbar -->

<!-- side bar  -->
 <!-- <ul id="slide-out" class="sidenav">

   <li><div class="user-view">
     <div class="background">
       <img src="{% static 'img/bg.jpg' %}">
     </div>
     <a href="#user"><img class="circle" src="{% static 'img/bg.jpg' %}"></a>
     <a href="#name"><span class="white-text name">Joshua Chipile</span></a>
     <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
   </div></li>
   <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
   <li><a href="#!">Second Link</a></li>
   <li><div class="divider"></div></li>
   <li><a class="subheader">Subheader</a></li>
   <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
 </ul> -->


<!--end of sidebar  -->



</nav>
</div>
<!-- end of navbar -->

<!-- <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Photo Sharing</a>
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="https://chipileconsultant.com">Images</a></li>
        <li><a href="https://chipileconsultant.com">Footage</a></li>
        <li><a href="https://chipileconsultant.com">Music</a></li>
        <li><a href="https://chipileconsultant.com">Editorial</a></li>
        <li><a href="https://chipileconsultant.com">Blog</a></li>
        <li><a href="https://chipileconsultant.com">Tools</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://chipileconsultant.com">Contribute</a></li>
        <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Accounts
       <span class="caret"></span></a>

       <ul class="dropdown-menu">


         {% if request.user.is_authenticated %}

           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{ user.username }}
             </a>
             <a class="dropdown-item" href="#">My account</a>
             <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
           </li>
           {% else %}
           <li><a href="{% url 'login' %}">Login</a></li>
           <li><a href="{% url 'signup' %}">Sign Up</a></li>

           {% endif %}

         </li>
       </ul>
 -->
       <!--

       {% if user.is_authenticated %}
               <ul class="navbar-nav ml-auto">
                 <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{ user.username }}
                   </a>
                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                     <a class="dropdown-item" href="#">My account</a>
                     <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                   </div>
                 </li>
               </ul>
             {% else %}
               <form class="form-inline ml-auto">
                 <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                 <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
               </form>
       {% endif %}


       -->
     <!-- </li>

      </ul>
    </div>

  </div>
</nav> -->
